{% block StepType_widget %}
  <div class="form-row">
        <div class="col-sm-1 col-lg-2">
            {{ form_row(form.rank) }}
        </div>
        <div class="col-sm-3 col-lg-2">
            {{ form_row(form.type) }}
        </div>
        <div class="col-sm-3 col-lg-2">
            {{ form_row(form.value) }}
        </div>
        <div class="col-sm-5 col-lg-3">
            {{ form_row(form.recipe) }}
        </div>
        <div class="col-sm-12 col-lg-3">
            <div class="btn-group">
            <a href="#" type="button" class="collection-up btn btn-light" title="Move element up"><i class="fa fa-arrow-circle-up"></i></a>
            <a href="#" type="button" class="collection-down btn btn-light" title="Move element down"><i class="fa fa-arrow-circle-down"></i></a>
            <a href="#" type="button" class="collection-remove btn btn-light" title="Delete element"><i class="fa fa-trash"></i></a>
            <a href="#" type="button" class="collection-add btn btn-light" title="Add element"><i class="fa fa-plus"></i></a>
            <a href="#" type="button" class="collection-duplicate btn btn-light" title="Duplicate element"><i class="fa fa-copy"></i></a>
            </div>
        </div>
    </div>
{% endblock %}



{% block StepType_label %}
{% endblock %}