{% block StepType_widget %}
  <div class="form-row">
        <div class="col-xs-2">
            {{ form_row(form.rank) }}
        </div>
        <div class="col-xs-2">
            {{ form_row(form.type) }}
        </div>
        <div class="col-xs-3">
            {{ form_row(form.value) }}
        </div>
        <div class="col-xs-3">
            {{ form_row(form.recipe) }}
        </div>
        <div class="col-xs-2 m-auto">
            
            <a href="#" class="collection-up btn btn-default" title="Move element up"><span class="far fa-arrow-alt-circle-up"></span></a>
            <a href="#" class="collection-down btn btn-default" title="Move element down"><span class="far fa-arrow-alt-circle-down"></span></a>
            <a href="#" class="collection-remove btn btn-default" title="Delete element"><span class="far fa-minus-square"></span></a>
            <a href="#" class="collection-add btn btn-default" title="Add element"><span class="far fa-plus-square"></span></a>
            <a href="#" class="collection-duplicate btn btn-default" title="Duplicate element"><span class="far fa-clone"></span></a>
            
        </div>
    </div>
{% endblock %}



{% block StepType_label %}
{% endblock %}