{% block StepType_widget %}
  <div class="form-row">
        <div class="col-xs-2">
            {{ form_row(form.rank) }}
        </div>
        <div class="col-xs-2">
            {{ form_row(form.type) }}
        </div>
        <div class="col-xs-3">
            {{ form_row(form.value) }}
        </div>
        <div class="col-xs-3">
            {{ form_row(form.recipe) }}
        </div>
        <div class="col-xs-2 m-auto">
            
            <a href="#" class="collection-up btn btn-default" title="Move element up"><span data-feather="arrow-up-circle"></span></a>
            <a href="#" class="collection-down btn btn-default" title="Move element down"><span data-feather="arrow-down-circle"></span></a>
            <a href="#" class="collection-remove btn btn-default" title="Delete element"><span data-feather="minus-circle"></span></a>
            <a href="#" class="collection-add btn btn-default" title="Add element"><span data-feather="plus-circle"></span></a>
            <a href="#" class="collection-duplicate btn btn-default" title="Duplicate element"><span data-feather="copy"></span></a>
            
        </div>
    </div>
{% endblock %}



{% block StepType_label %}
{% endblock %}